<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>
    {% csrf_token %}
    {% if user.is_authenticated %}
    <h2>{{user}}</h2>
    {% else %}

    
    
    <form method="POST">
        {%csrf_token%}
        <input type="text" name="username" value="jake">
        <input type="text" name="password" value="hej123">
        <input type="submit" value="SUBMIT">
    </form>
    
    {% endif %}
</body>
</html>